body{
    margin: 0;
}

#contentWrapper{
    background-image: url("../assets/images/bg.svg");
    background-size: cover;
    height: 100vh;
}

.clickable{
    opacity: 1;
    fill: rgb(82, 194, 82);
    cursor: pointer;
}

#mazeMap{
    height: 700px;
    position: absolute;
}

#mazeBackground{
    position: absolute;
}

#mazeSVG{
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regular{
    opacity: 1;
    fill: #ff6464;
    cursor: not-allowed;
}



.fade{
    opacity: 0;
    transition: 0.7s opacity;
    cursor: default;
}